*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    overflow-y: hidden;
}

nav{
    display: flex; justify-content
   : space-between;
    align-items: center;
    background-color: white;
    color: white;
    padding:10px 20px;
}

.leftNav{
    display: flex;
    height: 20px;
    width: 25%;
    
}
.leftNav img{
    border-radius: 40%;
}
.leftNav input{
    border-radius: 30px;
}

.midNav{
    display: flex;
    height: 20px;
    width: 50%;
    justify-content:space-around;
    border-radius: 50%;
}

.rightNav{
    display: flex;
    height: 30px;
    width:25%;
    justify-content:space-around;
    margin-left: 80px;
}
.rightNav img{
    border-radius: 50%;
    background-color: whitesmoke;
}

.content{
display: flex;
}
.leftcontent{
    width: 25%;
    margin-left: 20px;
    overflow-y: scroll;
    
}
.profile{
    display: flex;
}
.profile img{
    height:30px;
    border-radius: 20px;
    
}
.profile h3{
    padding-left: 10px;
    padding-top: 7px;
}
.profile {
    padding-bottom: 15px;
}
.midcontent{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid black;
    
}

.midcontenttop{
    height: 100px;
    border: 2px solid black;
    margin-bottom: 10px;
}
.story{
    display: flex;
    height: 100px;
    width: 100%;
    border: 2px solid black;
}
.storycontent{
    display: flex;
    /* height: 40px; */
    width: 25%;
    border:2px solid black;
    justify-content: space;
}
.rightcontent{
    width: 25%;
}
